* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 90.44%;
    margin: 0 auto;
}

header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

nav {
    padding: 22px 0;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav ul li {
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid transparent;
}

nav ul li:hover {
    border: 1px solid #000;
}

nav ul .active {
    border: 1px solid #000;
}

nav ul li a {
    text-decoration: none;
    color: #8E8685;
    padding: 12px;
    display: block;
}

.banner {
    background-image: url(https://dummyimage.com/1288x799/CACBCD/fff);
}

.banner .wrapper {
    padding: 311px 0 367px 0;
    position: relative;
}

.banner h1 {
    font-size: 42px;
    width: 445px;
    color: #3C3C3E;
    text-align: center;
    margin-left: auto;
}

.banner-content {
    text-indent: -9999px;
    position: absolute;
    left: 47.8%;
    top: 88.5%;
    border: 2px solid #fff;
    border-radius: 50%;
}

.banner .down-button {
    padding: 13px 16px;
    display: block;
}

.banner .down-button::before {
    content: "\f103";
    font-family: "fontAwesome";
    text-indent: 0;
    color: #fff;
    float: right;
}

.turnip-green {
    background-color: #F3C30F;
}

.turnip-green .outter-box {
    padding: 130px 23px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    list-style: none;
}

.turnip-green .inner-box {
    flex-basis: 30%;
}

.turnip-green .inner-box h2 {
    color: #414335;
    padding: 16px 0 24px 0;
    font-size: 18px;
}

.turnip-green .inner-box p {
    color: #696024;
}

.this-month-specials h3 {
    font-size: 44px;
    margin-top: 68px;
    text-align: center;
}

.this-month-specials ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 52px 0 180px;
}

.this-month-specials li {
    position: relative;
    line-height: 0;
}

.this-month-specials li:hover .content {
    transform: scale(1);
}

.this-month-specials .content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #000;
    font-size: 18px;
    text-align: center;
    transform: scale(0);
    overflow-y: auto;
    transition: transform 0.3s ease-in;
}

.this-month-specials h4 {
    margin: 34px 0 20px;
}

.this-month-specials h4::after {
    content: '';
    width: 76px;
    padding: 1px;
    background-color: #000;
    display: block;
    margin: 20px auto 0;
}

.this-month-specials p {
    margin-bottom: 26px;
    line-height: 1;
}

.about-us {
    background-image: url(https://dummyimage.com/1360x716/DDDDDD/fff);
}

.about-us .content {
    padding: 77px 10px 128px;
    width: 563px;
    text-align: center;
}

.about-us h4 {
    color: #767676;
    margin-bottom: 115px;
    font-size: 48px;
}

.about-us p {
    color: #767676;
    font-size: 34px;
    letter-spacing: 1px;
    margin-bottom: 12px;
}

.about-us img {
    display: block;
    margin-left: auto;
}

.menu h5 {
    font-size: 46px;
    text-align: center;
    color: #767676;
    padding: 80px 0 100px;
}

.menu .menu-categories {
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu .menu-categories li {
    padding: 0 15px;
}

.menu .menu-categories li a {
    text-decoration: none;
    color: #434346;
}

.menu .outter-box {
    display: flex;
    justify-content: space-between;
    padding: 52px 10px 0 20px;
}

.menu .outter-box ul {
    list-style: none;
    color: #7B7B84;
}

.menu .outter-box ul li h6 {
    font-size: 20px;
}

.menu .outter-box ul li {
    margin-bottom: 54px;
}

.menu .outter-box ul li p {
    font-style: italic;
}

.contact {
    background-image: url(https://dummyimage.com/1360x716/E8E9EE/fff);
}

.contact .contact-content {
    width: 516px;
    padding: 74px 0 0 0;
    margin-left: auto;
    color: #767676;
}

.contact .contact-content h6 {
    font-size: 48px;
    text-align: center;
}

.contact .contact-content .outter-box {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.contact .contact-content .outter-box h6 {
    font-size: 24px;
    text-align: left;
    margin: 94px 0 20px;
}

.contact .contact-content .outter-box .inner-box {
    margin-right: 44px;
    font-size: 18px;
}

.contact .contact-content .outter-box .inner-box address {
    font-style: normal;
}

.contact .contact-content .outter-box .inner-box a {
    text-decoration: none;
    color: #767676;
}